@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

@font-face {
    font-family: 'AcuminVariableConcept'; 
    src: local('AcuminVariableConcept'), url('../fonts/AcuminVariableConcept.otf') format('opentype');
}

@font-face {
    font-family: 'averox'; 
    src: local('averox'), url('../fonts/averox.ttf') format('truetype');
}

@font-face {
    font-family: 'Gothic'; 
    src: local('Gothic'), url('../fonts/GOTHIC.ttf') format('truetype');
}

@font-face {
    font-family: 'JoystixMonospace'; 
    src: local('JoystixMonospace'), url('../fonts/joystix_monospace.otf') format('opentype');
}

@font-face {
    font-family: 'KozGoPr6N-Regular_0'; 
    src: local('KozGoPr6N-Regular_0'), url('../fonts/KozGoPr6N-Regular_0.otf') format('opentype');
}

@font-face {
    font-family: 'subway_ticker'; 
    src: local('subway_ticker'), url('../fonts/subway_ticker.ttf') format('truetype');
}

.font-nova {
    font-family: 'Nova Square', sans-serif;
}

.font-averox {
    font-family: 'averox', sans-serif;
}

.font-joystix {
    font-family: 'JoystixMonospace', monospace;
}

.font-joystix-outline {
    color: transparent;
    font-family: 'JoystixMonospace', monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2AECDA;
}

.font-subway {
    font-family: 'subway_ticker', sans-serif;
}

.font-gothic {
    font-family: 'Gothic', sans-serif;
}

.glow-text-green {
    animation: glow-green 1s ease-in-out infinite alternate;
}

.glow-text-white {
    text-shadow:1px 1px 10px #fff, 1px 1px 8px #ccc;
}

.border-text-darkgreen {
    -webkit-text-stroke-color: #004541;
    -webkit-text-stroke-width: 1px; 
}

.supply-text {
    color: #FFB300;
    animation: glow-orange 1s ease-in-out infinite alternate;
    letter-spacing: 2px;
}

.border-green {
    border: 2px solid #2AEC96;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes glow-green {
    from {
      text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #2AECDA, 0 0 4px #2AECDA, 0 0 5px #2AECDA, 0 0 6px #2AECDA, 0 0 7px #2AECDA;
    }
    
    to {
      text-shadow: 0 0 2px #000, 0 0 3px #2AECDA, 0 0 4px #2AECDA, 0 0 5px #2AECDA, 0 0 6px #2AECDA, 0 0 7px #2AECDA, 0 0 8px #2AECDA;
    }
}

@-webkit-keyframes glow-orange {
    from {
      text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #FFB300, 0 0 4px #FFB300, 0 0 5px #FFB300, 0 0 6px #FFB300, 0 0 7px #FFB300;
    }
    
    to {
      text-shadow: 0 0 2px #000, 0 0 3px #FFB300, 0 0 4px #FFB300, 0 0 5px #FFB300, 0 0 6px #FFB300, 0 0 7px #FFB300, 0 0 8px #FFB300;
    }
}

.bg_footer{
    background-color: #05282F;
    background-image: url('/assets/images/bg_footer.png');
}

.video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-robot {
    background-image: url('/assets/images/bg_robot.png');
    background-size: cover;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.bg-girl {
    background-image: url('/assets/images/bg_girl.png');
    background-size: cover;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.bg-video {
    background-image: url('/assets/images/bg_video.png');
    background-size: cover;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.bg-roadmap {
    background-image: url('/assets/images/bg_roadmap.png');
    background-size: cover;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-height: 5522px;
}

.footer-social {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.btn-web-vr {
    color: #000 !important;
    background-color: #2AECDA !important;
    border: #2AECDA !important;
    font-family: 'subway_ticker', sans-serif;
    border-radius: 25px !important;
}

@media only screen and (max-width: 1200px) {
    .footer-social {
        top: 50% !important;
        left: 0 !important;
        transform: translateY(-50%)!important
    }

    .footer-social-img {
        transform: scale(0.6);
    }
}