@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

@font-face {
    font-family: 'AcuminVariableConcept'; 
    src: local('AcuminVariableConcept'), url('../fonts/AcuminVariableConcept.otf') format('opentype');
}

@font-face {
    font-family: 'averox'; 
    src: local('averox'), url('../fonts/averox.ttf') format('truetype');
}

@font-face {
    font-family: 'Gothic'; 
    src: local('Gothic'), url('../fonts/GOTHIC.ttf') format('truetype');
}

@font-face {
    font-family: 'JoystixMonospace'; 
    src: local('JoystixMonospace'), url('../fonts/joystix_monospace.otf') format('opentype');
}

@font-face {
    font-family: 'KozGoPr6N-Regular_0'; 
    src: local('KozGoPr6N-Regular_0'), url('../fonts/KozGoPr6N-Regular_0.otf') format('opentype');
}

@font-face {
    font-family: 'subway_ticker'; 
    src: local('subway_ticker'), url('../fonts/subway_ticker.ttf') format('truetype');
}

.font-nova {
    font-family: 'Nova Square', sans-serif;
}

.font-averox {
    font-family: 'averox', sans-serif;
}

.font-joystix {
    font-family: 'JoystixMonospace', monospace;
}

.font-joystix-outline {
    color: transparent;
    font-family: 'JoystixMonospace', monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2AECDA;
}

.font-subway {
    font-family: 'subway_ticker', sans-serif;
}

.font-gothic {
    font-family: 'Gothic', sans-serif;
}

.glow-text-green {
    animation: glow-green 1s ease-in-out infinite alternate;
}

.glow-text-white {
    text-shadow:1px 1px 10px #fff, 1px 1px 8px #ccc;
}

.border-text-darkgreen {
    -webkit-text-stroke-color: #004541;
    -webkit-text-stroke-width: 1px; 
}

.supply-text {
    color: #FFB300;
    animation: glow-orange 1s ease-in-out infinite alternate;
    letter-spacing: 2px;
    font-size: 2rem;
}

.border-green {
    border: 2px solid #2AEC96;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes glow-green {
    from {
      text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #2AECDA, 0 0 4px #2AECDA, 0 0 5px #2AECDA, 0 0 6px #2AECDA, 0 0 7px #2AECDA;
    }
    
    to {
      text-shadow: 0 0 2px #000, 0 0 3px #2AECDA, 0 0 4px #2AECDA, 0 0 5px #2AECDA, 0 0 6px #2AECDA, 0 0 7px #2AECDA, 0 0 8px #2AECDA;
    }
}

@-webkit-keyframes glow-orange {
    from {
      text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #FFB300, 0 0 4px #FFB300, 0 0 5px #FFB300, 0 0 6px #FFB300, 0 0 7px #FFB300;
    }
    
    to {
      text-shadow: 0 0 2px #000, 0 0 3px #FFB300, 0 0 4px #FFB300, 0 0 5px #FFB300, 0 0 6px #FFB300, 0 0 7px #FFB300, 0 0 8px #FFB300;
    }
}

.bg_footer{
    background-color: #05282F;
    background-image: url('/assets/images/bg_footer.png');
}

.video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-full {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
}

.bg-robot {
    background-image: url('/assets/images/bg_robot.png');
    background-size: cover;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    height: 100% !important;
    width: 100% !important;
}

.bg-girl {
    background-image: url('/assets/images/bg_girl.png');
    background-size: cover;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    height: 100% !important;
    width: 100% !important;
}

.bg-girl2 {
    background-image: url('/assets/images/bg_girl2.png');
    background-size: cover;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    height: 100% !important;
    width: 100% !important;
}

.bg-video {
    background-image: url('/assets/images/bg_video.png');
    background-size: cover;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    height: 100% !important;
    width: 100% !important;
}

#unleash-future {
    height: 100% !important;
    width: 100% !important;
}

.bg-roadmap {
    background-image: url('/assets/images/bg_roadmap.png');
    background-size: cover;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    height: 100% !important;
    width: 100% !important;
    min-height: 5522px;
}

.playback-ui {
    background-image: url('/assets/images/playback-ui.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-social {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.btn-web-vr {
    color: #000 !important;
    background-color: #2AECDA !important;
    border: #2AECDA !important;
    font-family: 'subway_ticker', sans-serif;
    border-radius: 25px !important;
}

.roadmap-container {
    margin-top: 12vh !important;
}

@media only screen and (max-width: 1200px) {
    .footer-social {
        top: 50% !important;
        left: 0 !important;
        transform: translateY(-50%)!important
    }

    .footer-social-img {
        transform: scale(0.6);
    }

    .font-joystix-outline {
        font-size: 6rem !important;
        margin-top: 25% !important;
    }

    .bg-video .font-joystix {
        font-size: 0.8rem !important;
    }

    .bg-girl h1 {
        font-size: 2.5rem !important;
    }

    .explore-txt {
        font-size: 0.9rem !important;
    }

    .bg-girl h4 {
        font-size: 1rem !important;
    }

    .bg-girl img {
        transform: scale(0.8) !important;
    }

    .point-txt {
        font-size: 0.7rem !important;
    }

    #unleash-future h2 {
        font-size: 2.5rem !important;
    }

    #unleash-future li {
        font-size: 1rem !important;
    }

    #unleash-future img {
        transform: scale(0.6) !important;
    }

    #unleash-future .flex-grow-1 span {
        font-size: 0.8rem !important;
    }

    .supply-container h2 {
        font-size: 4rem !important;
    }

    .supply-text {
        font-size: 1.25rem !important;
    }

    .supply-container h3 {
        font-size: 1.2rem !important;
    }

    .supply-container .font-gothic span {
        font-size: 0.6rem !important;
    }

    /* .supply-container .title-img {
        transform: scale(0.6) !important;
    } */

    .token-container {
        margin-top: 50vh !important;
    }

    .defi-model h2 {
        font-size: 1rem !important;
    }

    .roadmap-container {
        margin-top: 25vh !important;
    }

    .roadmap-container .font-subway {
        font-size: 2.5rem !important;
    }

    .roadmap-container .title-mobile {
        margin-top: 17rem !important;
    }

    .roadmap-container .timeline{
        max-width: 35% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .roadmap-container .timeline h2{
        font-size: 0.8rem !important;
    }

    .roadmap-container .timeline span{
        font-size: 0.8rem !important;
    }

    .roadmap-container .mobile-margin:nth-child(1) {
        margin-top: 22.5rem !important;
    }

    .roadmap-container .mobile-margin:nth-child(2) {
        margin-top: 8.6rem !important;
    }

    .roadmap-container .mobile-margin:nth-child(3) {
        margin-top: 6rem !important;
    }

    .roadmap-container .mobile-margin:nth-child(4) {
        margin-top: 2.5rem !important;
    }

    .roadmap-container .mobile-margin:nth-child(5) {
        margin-top: 2rem !important;
    }

    .roadmap-container .mobile-margin:nth-child(6) {
        margin-top: 0rem !important;
    }

    .roadmap-container .mobile-margin:nth-child(7) {
        margin-top: 0rem !important;
    }

    .roadmap-container .mobile-margin:nth-child(8) {
        margin-top: 0rem !important;
    }

    .roadmap-container .mobile-margin:nth-child(9) {
        margin-top: 6rem !important;
    }

    .timeline {
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        text-align: start;
    }

    .bg-roadmap {
        background-image: url('/assets/images/bg_roadmap_m.png');
    }

    .notice-container h1 {
        font-size: 3rem !important;
    }

    /* .bg-girl {
        background-image: url('/assets/images/bg_girl_m.png');
    } */
}